{{!--

login form handlebar template

--}}
<div class="box">
<form id="login-form" action="/login" method="POST">
  <label for="emailAddressInput">Email Address:</label>
  <input type="email" name="emailAddress" id="emailAddressInput" required>

  <label for="passwordInput">Password:</label>
  <input type="password" name="password" id="passwordInput" required>

  <button type="submit">Log In</button>
</form>
<div id="error" hidden></div>
<a href="/register">Click here to register!</a>
<script src='/public/js/lab10.js'></script>

</div>
