{{!--

If the user is logged in , and 'GET /protected' endpoint is called, you will render this view based on the specs.

--}}


<h1>Welcome {{firstName}}, the time is now: {{currentTime}}.</h1>
<p>Your role in the system is: {{role}}.</p>

</br>
</br>
  <a href="/admin">Go to Admin Page</a>


<a href="/logout">Log Out</a>
